p {
  background-image: url("/assets/images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
  font-size: 2rem;
  font-family: cursive;
  display: flex;
  justify-content: center;
  margin:0;
}
